<%- include('header') -%>
<div class="container mt-5">
  <div class="row mx-5">
    <h2>Start Investing</h2>
    <p>Browse different Startups</p>
  </div>
  <div class="row mx-5 mt-3">
    <div class="col-md-12">
      <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Search Startups to Invest"> <button class="btn btn-primary search-btn">Search</button> </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mx-4 mt-3">
    <div class="card-group p-3">
      <% datas.forEach(function(data){ %>
      <a class="node col-lg-4" href="<%= data._id %>">
        <div class="card m-3 card-border">
          <img src="img/<%= data.img %>" class="card-img-top img-responsive" alt="...">
          <div class="card-body p-4">
            <h5 class="card-title"><%= data.name %></h5>
            <p class="card-text"><%= data.desp %></p>
            <div class="row pt-3">
              <p class="card-text"><%= data.area %></p>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= data.investors %> investors joined</small>
          </div>
        </div>
      </a>
      <%  }) %>
    </div>
  </div>
</div>

<%- include('footer') -%>
